.secondary_video{
    position: absolute;
    top: 74px;
    right: 3px;
    height: 195px;
    width: 345px;
    border: none;
 }
 .next_on{
    position: absolute;
    top: 43px;
    right: 1px;
 }
 .secondary_video_details{
    
     position: absolute;
    top: 74px;
    right: 364px;
    height: 100px;
    width: initial;
 }
 .upper_video{
height: 400px;
width: 400px;
 }
 .secondary_video_details ul{
    list-style-type: none;
    direction: rtl;
 }
 .secondary_video_details li:nth-child(2){
    color:black;
 }
 .secondary_video_name{
    position:absolute;
    top:269px;
    right: 187px;
    width: initial;
    height: 36px;
    background-color: black;
    font-family: LetterGothicStd;
    font-size: 27px;
    color: white;
    padding-top: 4px;
    padding-left: 12px;
    padding-right: 4px;
 }
 .thin_text{
    font-size: 27px;
    font-family: LetterGothicStd;
   color:#682954;

 }