    <aside>
     <app-aside-top></app-aside-top>
        <div class="bottom_asside">
            <ul>
                <li>
                    <div class="side-video-with-description">
                        <div class="aside_bottom_video_details thin_text">
                            <ul>
                                <li>name</li>
                                <li>7.5.2017</li>
                                <li>80 views</li>
                            </ul>
                        </div>
                        <iframe src="https://www.youtube.com/embed/UWLr2va3hu0?controls=0&rel=0&enablejsapi=1&modestbranding=1&showinfo=0"
                              class="aside_bottom_video"></iframe>
                    </div>
                    <div class="aside_bottom_video_name">song- nice</div>
                </li>
                <li>
                    <div class="side-video-with-description">
                        <div class="aside_bottom_video_details thin_text">
                            <ul>
                                <li>name</li>
                                <li>7.6.2017</li>
                                <li>80 views</li>
                            </ul>
                        </div>
                        <iframe src="https://www.youtube.com/embed/UWLr2va3hu0?controls=0&rel=0&enablejsapi=1&modestbranding=1&showinfo=0"
                              class="aside_bottom_video"></iframe>
                     <div class="aside_bottom_video_name">song- cool</div>
                    </div>
                   
                </li>
                <li>
                    <div class="side-video-with-description">
                        <div class="aside_bottom_video_details thin_text">
                            <ul>
                                <li>name</li>
                                <li>7.7.2017</li>
                                <li>65 views</li>
                            </ul>
                        </div>
                        <iframe src="https://www.youtube.com/embed/UWLr2va3hu0?controls=0&rel=0&enablejsapi=1&modestbranding=1&showinfo=0"
                              class="aside_bottom_video"></iframe>
                               <div class="aside_bottom_video_name">song- nice</div>
                    </div>
                   
                </li>
            </ul>
            
        </div>
    </aside>