    <main>
        <div class="name_main_video">{{main_video.name}}</div>
        <div class="number_of_views thin_text"><span>{{main_video.number_of_views}}</span> views</div>

        <iframe id="video" class="main_video" allowfullscreen
          [src]="videoURL()" >
        </iframe>
        <div class="live"></div>
        <div class="video_buttons_background">
            <div class="play all_buttons_player" id="play-button"></div>
            <div class="next all_buttons_player"></div>
            <div class="volume_button all_buttons_player"></div>
            <div class="volume_line"></div>

        </div>
        <div class="thin_text date">{{main_video.concert_date}}</div>
        <div class="share_on">share on:</div>
        <div class="logos_collection">
            <div class="facebook all_logos"></div>
            <div class="skype all_logos"></div>
            <div class="google all_logos"></div>
             <div class="tweeter all_logos"></div>
            <div class="reddit all_logos"></div>
            <div class="blooger all_logos"></div>
             <div class="tumblr all_logos"></div>
            <div class="insta all_logos"></div>
            <div class="pinterest all_logos"></div>
             <div class="linkedin all_logos"></div>
            
        </div>
        <div class="line_under_main_video"></div>
        <div class="comments"></div>
    </main>